##BUNDLER
.bundle/

## EMACS
*~
\#*

## MAC OS
.DS_Store

## RUBYMINE
.idea
.\#*

## RVM
.rvmrc

## TEXTMATE
*.tmproj
tmtags

## VIM
*.swp

## PROJECT::GENERAL
coverage
rdoc
pkg

## PROJECT::SPECIFIC

## DOCS
doc/
.yardoc/
